<div class="container">
  <div class="user-details">
    <h3 style="margin-top: 20px;"> What I Do </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <p>Fluent in HTML5, CSS3, and front-end frameworks incuding Bootstrap, UIkit and Semantic UI</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
        <i class="devicon-ruby-plain colored"></i>
        <i class="devicon-rails-plain-wordmark colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
        <p>Ruby makes me happy, which is why my back-end framework of choice is Ruby on Rails.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-jetbrains-plain-wordmark colored"></i>
      <p>Very comfortable using Git, and Github workflows. Most of my work is done in JetBrains RubyMine.</p>
    </div>
  </div>
</div>
