<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/krissiflynn.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Photography Portfolio </h5>
      <li> Ruby on Rails</li>
      <li> PostgreSQL</li>
      <li> AWS S3</li>
      <li> UIkit</li>
      <li> Clearance</li>
      <li> Paperclip</li>
      <p>A photography portfolio I made, and continue to maintain, for a local photographer. It's built on top of Rails using PostgeSQL, Clearance, Paperclip, and AWS S3 for file storage.</p>
      <a target="_blank" class="project-link" href="http://www.krissiflynn.com.au">Have a look</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> More Coming Soon... </h5>
      <!--<ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>-->
    </div>
  </div>
</div>
